<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 정보</title>
    <link rel="stylesheet" href="/public/css/detailOne.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="/public/js/cart.js"></script>    
</head>
<body>
    <div class="topBox">
        <div class="topLeft">
            <img class="logoText" src="/img/textLogo.jpg" width="220px" onclick="goToHomeDetail()">
        </div>
        <div class="topRight">
            <div class="text">LOGIN</div>
            <div>|</div>
            <div class="text">MYPAGE</div>
            <div>|</div>
            <div class="text" onclick="cartPageDetail()">CART</div>
        </div>
    </div>

    <div class="detailContainer">
        <!-- 왼쪽 상품이미지 -->
        <div class="imgBox">
            <img src="<%= productOne.img_url %>" alt="상품이름" class="productImg">
        </div>

        <!-- 오른쪽 상품정보 -->
        <div class="infoBox" data-product-id="<%= productOne.id %>" data-price="<%= productOne.price %>">
            <h1 class="title"><%= productOne.name %></h1>
            <p class="comment"><%= productOne.comment %></p><hr />
            <p class="price">판매가: <span id="price"><%= productOne.price %></span>원</p><hr />
            
            <div class="quantityBox">
                <label for="quantity">수량:</label>
                <button class="qBtn" onclick="changeQuantity(-1)">-</button>
                <input type="number" id="quantity" value="1" min="1" readonly>
                <button class="qBtn" onclick="changeQuantity(1)">+</button>
            </div>

            <p class="total"><small>총 상품금액: </small><span id="totalPrice"></span></p>

            <button class="cartBtn">장바구니에 추가</button>
        </div>
    </div>

    <div class="bottom">
        <div class="bottomLeft">
            <span>주식회사 Yzoraa's 생활연구소</span>
            <p>CEO : Yzoraa &emsp; 주소 : 서울시 마포구 은행로 00, 000 (여의도동, 00빌딩) &emsp; 이메일 : aaaa@yzoraaalbum.com</p>
            <p class="copyright">Copyright 2025 © Yzoraa. All Right Reserved.</p>
        </div>
        <div class="bottomRight">
            <span>고객센터</span>
            <p>CALL CENTER : 1544-0000</p>
            <div class="buttonBox">
                <button>1:1 문의</button>
                <button>FAQ</button>
            </div>
            <p>MON-FRI 9:00~18:00 / SAT-SUN·HOLIDAY OFF</p>
            <p>LUNCH 12:00~14:00</p>
        </div>
    </div>
</body>
<script src="/public/js/detailOne.js"></script>
</html>
