<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 정보</title>
    <link rel="stylesheet" href="/public/css/detailOne.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="/public/js/cart.js"></script>    
</head>
<body>
    <div class="topBox">
        <img class="logoText" src="/img/textLogo.jpg" width="220px">
        <h1>상세페이지</h1>
    </div>

    <div class="detailContainer">
        <!-- 왼쪽 상품이미지 -->
        <div class="imgBox">
            <img src="<%= productOne.img_url %>" alt="상품이름" class="productImg">
        </div>

        <!-- 오른쪽 상품정보 -->
        <div class="infoBox" data-product-id="<%= productOne.id %>" data-price="<%= productOne.price %>">
            <h1 class="title"><%= productOne.name %></h1>
            <p class="comment"><%= productOne.comment %></p><hr />
            <p class="price">판매가: <span id="price"><%= productOne.price %></span>원</p><hr />
            
            <div class="quantityBox">
                <label for="quantity">수량:</label>
                <button class="qBtn" onclick="changeQuantity(-1)">-</button>
                <input type="number" id="quantity" value="1" min="1" readonly>
                <button class="qBtn" onclick="changeQuantity(1)">+</button>
            </div>

            <p class="total">총 가격: <span id="totalPrice"><%= productOne.price %></span>원</p>

            <button class="cartBtn">장바구니에 추가</button>
        </div>
    </div>
</body>
<script src="/public/js/detailOne.js"></script>
</html>
