<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="topBox">
        <div class="topLeft">
            <img class="logoText" src="/img/textLogo.jpg" width="220px" onclick="goToHome()">
        </div>
        <div class="topRight">
            <div class="text">LOGIN</div>
            <div>|</div>
            <div class="text">MYPAGE</div>
            <div>|</div>
            <div class="text" onclick="cartPage()">CART</div>
        </div>
    </div>

    <div class="category">
        <div class="categoryDiv">NEW</div>
        <div class="categoryDiv">BEST</div>
        <div class="categoryDiv">STYLE</div>
        <div class="categoryDiv">HOME</div>
        <div class="categoryDiv">STATIONERY</div>
        <div class="categoryDiv">EXHIBITION</div>
        <div class="categoryDiv">REVIEW</div>
        <div class="categoryDiv">Q&A</div>
    </div>

    <div class="sliderContainer">
        <button class="prevBtn">&#10094;</button>
        <div class="slider"></div>
        <button class="nextBtn">&#10095;</button>
        <div class="indicators"></div>
        <script src="/public/js/slider.js"></script>
    </div>

    <script src="/public/js/popup.js"></script>
    <!-- <p>hidePopup 값: <%= hidePopup %></p> ; 확인용 -->
    <% if (!hidePopup) { %>
            <div class="layerBox">
            <img src="../img/popup.jpg" />
            <form name="popForm">
                <div id="check">
                    <input type="checkbox" name="checkbox" value="checkbox" id="checkbox">
                    <label for="checkbox">오늘 하루 동안 보지 않기</label>
                </div>
                <div id="close">닫기</div>
            </form>
        </div>
    <% } %>

    <div class="bodyText">BEST SELLER</div>
    <div class="bodyText2" >Yzorra의 베스트 제품을 소개합니다.</div>
    <div class="productCNT">> 등록제품 : <%= getMains.length %>개</div>
    <div class="bodyWrap">
        <% getMains.forEach(product => { %>
            <div class="card" onclick="detailPage(<%= product.id %>)">
                <img src="<%= product.img_url %>" alt="<%= product.name %>" class="cardImg">
                <img src="/img/heartBlack.png" alt="좋아요" class="heartIcon">

                <span class="cardTitle"><%= product.name %></span>
                <span class="cardPrice"><%= product.price %>원</span>
            </div>
        <% }); %>
    </div>

    <div class="bottom">
        <div class="bottomLeft">
            <span>주식회사 Yzoraa's 생활연구소</span>
            <p>CEO : Yzoraa &emsp; 주소 : 서울시 마포구 은행로 00, 000 (여의도동, 00빌딩) &emsp; 이메일 : aaaa@yzoraaalbum.com</p>
            <p class="copyright">Copyright 2025 © Yzoraa. All Right Reserved.</p>
        </div>
        <div class="bottomRight">
            <span>고객센터</span>
            <p>CALL CENTER : 1544-0000</p>
            <div class="buttonBox">
                <button>1:1 문의</button>
                <button>FAQ</button>
            </div>
            <p>MON-FRI 9:00~18:00 / SAT-SUN·HOLIDAY OFF</p>
            <p>LUNCH 12:00~14:00</p>
        </div>
    </div>
</body>
<script src="/public/js/main.js"></script>
</html>