<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- TUI 에디터 객체 사용 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <!-- axios 사용 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/register.css" />
</head>
<body>
    <div class="topBox">
        <h1>상품등록</h1>
        <div class="topLeft">
            <img class="logoText" src="/img/textLogo.jpg" width="220px" onclick="goToHome()">
        </div>
        <div class="topRight">
            <div class="text">LOGIN</div>
            <div>|</div>
            <div class="text">MYPAGE</div>
            <div>|</div>
            <div class="text" onclick="cartPage()">CART</div>
        </div>
    </div>

    <form name="registerForm" class="registerForm">
        <div class="imgBox">
            <div class="result"></div>
            <div class="fileUploadBox">
                <input type="file" name="dynamicFile" id="dynamicFile" />
                <button type="button" onclick="fileUpload()">업로드</button>
            </div>
        </div>
        <div>
            <input name="id" id="idInput" placeholder="아이디를 입력해 주세요." /><br />
            <div id="userID"></div> <!-- 아이디 중복 불가 -->
        </div>
        <div>
            <input name="name" placeholder="상품 이름을 입력해 주세요." /><br />
        </div>
        <div class="content">
            <div id="editor"></div>
        </div>
        <!-- <div>
            <input name="comment" placeholder="상품 설명을 입력해 주세요." /><br />
        </div> -->
        <div>
            <input name="price" type="number" placeholder="가격을 입력해 주세요." /><br />
        </div>
        <button id="btn" type="button" onclick="connectDB(event)">등록</button>
    </form>

    <br />
    <table border="1">
        <thead>
            <tr>
                <th>이미지</th>
                <th>ID</th>
                <th>이름</th>
                <th>설명</th>
                <th>가격</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < getProducts.length; i++) { %>
                <tr id="tr-<%= getProducts[i].id %>">
                    <td><img src="<%= getProducts[i].img_url %>" width="100"></td>
                    <td><%= getProducts[i].id %></td>
                    <td><%= getProducts[i].name %></td>
                    <td><%= getProducts[i].comment %></td>
                    <td><%= getProducts[i].price %></td>
                    <td>
                        <button class="modifybtn" onclick="updatePage('<%= getProducts[i].id %>')" type="button">수정</button>
                        <button class="delectbtn" onclick="deleteForm('<%= getProducts[i].id %>')" type="button">삭제</button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <div class="bottom">
        <div class="bottomLeft">
            <span>주식회사 Yzoraa's 생활연구소</span>
            <p>CEO : Yzoraa &emsp; 주소 : 서울시 마포구 은행로 00, 000 (여의도동, 00빌딩) &emsp; 이메일 : aaaa@yzoraaalbum.com</p>
            <p class="copyright">Copyright 2025 © Yzoraa. All Right Reserved.</p>
        </div>
        <div class="bottomRight">
            <span>고객센터</span>
            <p>CALL CENTER : 1544-0000</p>
            <div class="buttonBox">
                <button>1:1 문의</button>
                <button>FAQ</button>
            </div>
            <p>MON-FRI 9:00~18:00 / SAT-SUN·HOLIDAY OFF</p>
            <p>LUNCH 12:00~14:00</p>
        </div>
    </div>
</body>
<script src="/public/js/register.js"></script>
</html>