<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 수정</title>
    <!-- TUI 에디터 객체 사용 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <!-- axios 사용 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/registerUpdate.css" />
</head>
<body>
    <div class="topBox">
        <div class="topLeft">
            <img class="logoText" src="/img/textLogo.jpg" width="220px" onclick="goToHome()">
        </div>
        <div class="topRight">
            <div class="text">LOGIN</div>
            <div>|</div>
            <div class="text">MYPAGE</div>
            <div>|</div>
            <div class="text" onclick="cartPage()">CART</div>
        </div>
    </div>

    <h4>상품수정</h4>
    <form name="registerUpdate" class="registerUpdate">
        <div class="imgBox">
            <div class="result">
                <img src="<%= getForMove.img_url %>" width="200px" height="200px">
            </div>
            <div class="fileUploadBox">
                <input type="file" name="dynamicFile" id="dynamicFile" />
                <input type="hidden" id="newimgUrl" name="img_url" value="<%= getForMove.img_url %>">
                <button type="button" onclick="fileUpload()">업로드</button>
            </div>
        </div>
        <div class="content">
            <div class="text">이름</div>
            <input name="name" value="<%= getForMove.name %>"/>
        </div>
        <div class="content">
            <div class="text">설명</div>
            <div id="editor" data-comment="<%= getForMove.comment %>"></div>
            <!-- <input name="comment" value="<%= getForMove.comment %>"/> -->
        </div>
        <div class="content">
            <div class="text">가격</div>
            <input name="price" value="<%= getForMove.price %>"/>
        </div>
        <button id="btn" type="button" onclick="updateForm('<%= getForMove.id %>')">수정</button>
    </form>

    <div class="bottom">
        <div class="bottomLeft">
            <span>주식회사 Yzoraa's 생활연구소</span>
            <p>CEO : Yzoraa &emsp; 주소 : 서울시 마포구 은행로 00, 000 (여의도동, 00빌딩) &emsp; 이메일 : aaaa@yzoraaalbum.com</p>
            <p class="copyright">Copyright 2025 © Yzoraa. All Right Reserved.</p>
        </div>
        <div class="bottomRight">
            <span>고객센터</span>
            <p>CALL CENTER : 1544-0000</p>
            <div class="buttonBox">
                <button>1:1 문의</button>
                <button>FAQ</button>
            </div>
            <p>MON-FRI 9:00~18:00 / SAT-SUN·HOLIDAY OFF</p>
            <p>LUNCH 12:00~14:00</p>
        </div>
    </div>
</body>
<script src="/public/js/registerUpdate.js"></script>
</html> 