<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- axios 사용 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/register.css" />
</head>
<body>
    <div class="topBox">
        <img class="logoText" src="/img/textLogo.jpg" width="220">
        <h1>상품등록</h1>
    </div>

    <form name="registerForm" class="registerForm">
        <div class="imgBox">
            <div class="result"></div>
            <div class="fileUploadBox">
                <input type="file" name="dynamicFile" id="dynamicFile" />
                <button type="button" onclick="fileUpload()">업로드</button>
            </div>
        </div>
        <div>
            <input name="id" placeholder="아이디를 입력해 주세요." /><br />
        </div>
        <div>
            <input name="name" placeholder="상품 이름을 입력해 주세요." /><br />
        </div>
        <div>
            <input name="comment" placeholder="상품 설명을 입력해 주세요." /><br />
        </div>
        <div>
            <input name="price" type="number" placeholder="가격을 입력해 주세요." /><br />
        </div>
        <button id="btn" type="button" onclick="connectDB(event)">등록</button>
    </form>

    <br />
    <table border="1">
        <thead>
            <tr>
                <th>이미지</th>
                <th>ID</th>
                <th>이름</th>
                <th>설명</th>
                <th>가격</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < getProducts.length; i++) { %>
                <tr id="tr-<%= getProducts[i].id %>">
                    <td><img src="<%= getProducts[i].img_url %>" width="100"></td>
                    <td><%= getProducts[i].id %></td>
                    <td><a href="/visitor/detail/<%= getProducts[i].id %>"><%= getProducts[i].name %></td></a>
                    <td><%= getProducts[i].comment %></td>
                    <td><%= getProducts[i].price %></td>
                    <td>
                        <button class="modifybtn" onclick="updatePage('<%= getProducts[i].id %>')" type="button">수정</button>
                        <button class="delectbtn" onclick="deleteForm('<%= getProducts[i].id %>')" type="button">삭제</button>
                    </td>
                </tr>
            <% } %>
        </tbody>
</body>
<script>
    // db 연결 (등록)
    const connectDB = (event) =>{
        event.preventDefault();
        const img = document.querySelector(".result img")?.src || "";
        const id = document.querySelector("input[name='id']").value;
        const name = document.querySelector("input[name='name']").value;
        const comment = document.querySelector("input[name='comment']").value;
        const price = document.querySelector("input[name='price']").value;

        axios({
            method: "post",
            url: "/register/postData",
            data: {id, name, comment, price, img_url: img},
            headers: { "Content-Type": "application/json" }
        }).then((res) =>{ 
            alert("등록성공");
            location.reload();
        })
        .catch((error) => {
            console.error("데이터 저장 오류:", error);
        });
    };

    // 삭제
    const deleteForm = (id) =>{
        axios({
            method:'delete',
            url: `/register/delete/${id}`
        }).then((res) =>{
            alert("삭제성공");
            location.reload();
        }).catch((error) => {
            console.log(error);
            console.error("데이터 삭제 오류:", error);
        });
    };

    // 수정 페이지로 이동
    const updatePage = (id) =>{
        window.location.href = `/register/write/${id}`;
    }

    // 파일업로드
    const resultBox = document.querySelector('.result');

    const fileUpload = () =>{
        const file = document.getElementById('dynamicFile');
        // console.log(file.files[0], '첫번째콘솔');

        const fileData = new FormData();
        fileData.append('dynamicFile', file.files[0]);

        axios({
            method: 'post',
            url: '/dynamicFile',
            data: fileData,
            headers: {
                'Content-Type': 'multipart/form-data',
            },
        }).then(res => {
            const imgUrl = res.data.imgUrl
            resultBox.innerHTML = `<div><img src=${imgUrl} width="200px" height="200px"></div>`;
        }).catch((error) => {
            console.log(error);
            console.error("이미지 업로드 오류:", error);
        });
    }

</script>
</html>